.about__outer_container{
    background-color: #28282B;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about__top_row_container{
    display: flex;
    justify-content: space-between;
}

.about__top_row_link_one img{
    width: 100%;
    background-color: #DE3163;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
}

/*Note that you need to target the image by adding 'img' to the selector
otherwise it won't apply correctly*/
.about__top_row_link_one img:hover{
    background-color: floralwhite;
}

.about__top_row_link_two img{
    width: 100%;
    background-color: #DE3163;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
}

.about__top_row_link_two img:hover{
    background-color: floralwhite;
}

.about__top_row_link_three img{
    width: 100%;
    background-color: #DE3163;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
}

.about__top_row_link_three img:hover{
    background-color: floralwhite;
}

.about__icons_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 21%;
    margin-right: 20px;
}

.about__header_text{
    font-weight: 200;
    font-family: 'Exo', sans-serif;
    font-size: 34px;
    color: floralwhite;
}

.about__text_image img{
    width: 50%;
}

.about__left_text_container{
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    color: floralwhite;
}