.nav__outer_container{
   height: 4000px;
   display: flex;
   justify-content: center;
}

.nav__background_image img{
    height: 300px;
}


.home_section_container{
    margin-top: 1000px;
}

.about_section_container{
    margin-top: 100px;
}

.resume_section_container{
    margin-top: 100px;
}