.app__about_container{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  padding: 20px 20px 20px 20px;
}

.app__about{
  margin-right: 20%;
  margin-left: 20%;
}

.app__resume_container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 20px 20px 20px 20px;
}

.app__resume{
  margin-right: 20%;
  margin-left: 20%;
}

/*SWIPER*/
/* .swiper {
  width: 600px;
  height: 300px;
} */